mixin form-adv()
  section.form-adv&attributes(attributes)
    div.container
      div.row
        div.form-adv__item.form.col-sm-12.col-md-6
          h2 Вам перезвонить?
          p Если вы не нашли нужной информации у нас на сайте мы может перезвонить и ответить на Ваш вопрос.
          form
            label Имя
              input(type='text', placeholder='')
            label Телефон
              input(type='tel', placeholder='+7 921 999 ..')
            input(type='submit', value='Получить информацию')
        div.form-adv__item.adv.col-sm-12.col-md-6
          h2 Преимущества
          div.adv-item
            h3 Проходимость
            p Способноть передвигаться не только по воде, но и по льду, заснеженным полям, порожистым рекам и даже прибрежной линии.
          div.adv-item
            h3 Быстроходность
            p Техника может развивать скорость до восьмидесяти километров в час.
          div.adv-item
            h3 Комфортабельность
            p Многие модели имеют звуковую- и теплоизолированные салоны.
      block
