.nav > li > a:focus,
.nav > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
}
.navbar {
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

@media (max-width: 991px) {

  .dropdown-menu {
    border-radius: 0;
    margin-bottom: 0;
  }

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

  .navbar-nav .open .dropdown-menu {
    margin-top: -20px;
  }

  .navbar-nav .open .dropdown-menu>li>a {
    padding-left: 15px;
  }

  .navbar-nav .open .dropdown-menu>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-header {
    background-color: @white;
    border: none;
    height: 50px;

    .logo {
      text-transform: uppercase;
      margin-top: 10px;
      @media (min-width: 768px) {
        margin-left: 15px;
      }
    }

    .name {
      font-size: 24px;
      font-weight: 700;
    }

    .txt {
      font-size: 6px;
      line-height: 14px;
      font-weight: 700;
      margin-top: -15px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  
  .navbar-main {
    .logo {
      display: none;
    }
  }

  .navbar {
    display: block;
    background-color: @blue-dark;
    border-radius: 0;
    margin-bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1030;
    // box-shadow: 0 0 10px rgba(0,0,0,0.3);

    .nav-item a {
      text-transform: uppercase;
      color: @white;
      font-weight: bold;
      padding-top: 20px;
      padding-bottom: 20px;
      @media (min-width: 768px) and (max-width: 991px) {
        padding-left: 0;
      }

      &:hover, &:active, &:focus {
        color: @blue;
      }
    }

    .glyphicon {
      margin-left: 8px;
      color: @blue;
      font-size: 12px;
    }

    .subnav-item a {
      color: #b0b5c5;
      font-size: 13px;
      line-height: 20px;
      text-transform: none;
      text-decoration: underline;
      font-weight: normal;

      &:hover {
        color: @blue;
      }
    }

    .link {
      color: @white;
      text-decoration: underline;
      font-size: 13px;
      line-height: 26px;
      margin-bottom: 40px;
    }
    
    & input {
      display: block;
      width: 100%;
      margin-bottom: 40px;
    }
  }

  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: none;
    box-shadow: none;
    border-color: transparent;
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none!important;
  }

  .navbar-nav > li {
    float: none;
  }

  .collapse.in{
    display:block !important;
  }

//burger animation
  .navbar-toggle {
    position: relative;
    width: 20px;
    height: 16px;
    padding: 15px;
    border: none;
    margin-top: 9px;
    margin-right: -5px;
    margin-bottom: 0;
    padding-right: 0;

    &:hover,
    &:focus {
      background: transparent;
    }

    .icon-bar {
      position: absolute;
      background-color: @black;
      top: 15px;
      left: 0;
      height: 2px;
      width: 20px;
      border-radius: 2px;
      transition: background 0s 0.3s;

      &::before,
      &::after {
        position: absolute;
        display: block;
        width: 20px;
        height: 2px;
        background-color: @black;
        content: "";
        margin: 0;
        left: 0;
      }

      &::before {
        top: -7px;
        transition: top 0.3s 0.3s, transform 0.3s 0s;
      }

      &::after {
        bottom: -7px;
        transition: bottom 0.3s 0.3s, transform 0.3s 0s;
      }
    }

    &:not(.collapsed) {
      .icon-bar {
        background: none;

        &::before {
          top: 0;
          transform: rotate(45deg);
          transition: top 0.3s 0s, transform 0.3s 0.3s;
        }

        &::after {
          bottom: 0;
          transform: rotate(-45deg);
          transition: bottom 0.3s 0s, transform 0.3s 0.3s;
        }
      }
    }
  }
}

@media (min-width: 992px) {

    // Чтобы меню открывалось по ховеру:
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }

    .navbar {
      display: block;
      border-radius: 0;
      margin-bottom: 0;
      padding-top: 20px;
      padding-bottom: 10px;
    
    .navbar-header {
      display: none;
    }

    .navbar-main {
      .logo {
        text-align: center;
        // margin-top: -20px;
        color: @black;
        // &:hover, &:active, &:visited {
        //   color: @black;
        //   text-decoration: none;
        // }

        .name {
          font-size: 30px;
          line-height: 55px;
          font-weight: 800;
          text-transform: uppercase;
          margin-top: -15px;
        }

        .txt {
          font-size: 8px;
          line-height: 18px;
          font-weight: 700;
          text-transform: uppercase;
          margin-top: -25px;
        }
      }
    }

    .navbar-collapse {
      display: flex !important;
      padding-left: 0;
      padding-right: 0;
      // justify-content: center;
    }

    .navbar-nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  

    .nav-item {
      position: relative;
      
      &:not(:first-child):hover:after {
        position: absolute;
        display: inline-block;
        content: '';

        top: 47px;
        left: 16px;
        width: 43px;
        height: 3px;

        background-color: @green;
      }
    }

    .nav-item a {
      font-weight: bold;
      color: @black;
      text-transform: uppercase;
    }

    .glyphicon {
      margin-left: 6px;
      color: @blue;
      font-size: 12px;
    }

    .dropdown-menu {
      padding-top: 45px;
      border: none;
      box-shadow: none;
      border-radius: 0;
      padding: 45px 10px 20px 10px;
      width: 330px;
      background-color: #f9f9f9;
      margin-left: -15px;
    }

    .dropdown-menu > li:first-child a{
      padding-top: 0;
    }

    .dropdown-menu > li > a {
      white-space: normal;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      padding-top: 8px;
      padding-bottom: 8px;
      text-transform: none;
    }

    .subnav-item a:hover {
      color: @green;
    }

    .link {
      display: none;
    }

    & input {
      display: none;
    }
  }
} 
