mixin catalog-select()
  section.catalog-select&attributes(attributes)
    div.container
      div.tab-box
        a(href='#')
          div.catalog-tab
            span.sprite-icon.icon-catalog-select-1
            p Судно на воздушной подушке
        a(href='#')
          div.catalog-tab
            span.sprite-icon.icon-catalog-select-2
            p Аэроглиссер
        a(href='#')
          div.catalog-tab
            span.sprite-icon.icon-catalog-select-3
            p Аэробот
        a(href='#')
          div.catalog-tab
            span.sprite-icon.icon-catalog-select-4
            p Аэроджип
        a(href='#')
          div.catalog-tab
            span.sprite-icon.icon-catalog-select-5
            p Аэролодка
        a(href='#')
          div.catalog-tab
            span.sprite-icon.icon-catalog-select-6
            p Вездеход на воздушной подушке
        a(href='#')
          div.catalog-tab
            span.sprite-icon.icon-catalog-select-7
            p Грузовая платформа на воздушной подушке