mixin info-block()
  section.info-block&attributes(attributes)
    div.container
      h2 Суда на воздушной подушке
      div.row
        div.col-md-6
          p — это универсальная техника, которую оценят по достоинству не только любители рыбалки и охоты, но и обязательно захотят использовать в своей работе многие экскурсионные или туристические группы. Ведь такое транспортное средство позволяет совершать прогулки и экскурсии по красивейшим рекам и озерам, как в теплое время года, так и в лютые морозы, когда обычным лодкам путь к воде заказан.
          p Подобные возможности открывают перед любителями активного отдыха массу заманчивых перспектив, начиная от зимней рыбалки, заканчивая посещением укромных уголков дикой природы, которые летом становятся недоступными. Высокая скорость свп станет приятным бонусом к основной массе позитивных впечатлений. 
        div.col-md-6
          p У нас на сайте вы в любой момент можете выбрать оптимальную модель такого судна на воздушной подушке, идеально вам подходящую и недорогую.
          p Так же тут собраны все достойные внимания производители судов и катеров на воздушной подушке, все о том как купить или продать ховеркрафт, видео и фото, отзывы, сведения о наличии новых или б/у судов или катеров
          p Цена за которую можно купить любой вид транспорта на воздушной подушке, продажа, аренда, лизинг, сервисное обслуживаниеТак же спец проекты - грузовые платформы, грузо пассажирские суда на воздушной подушке, модульные, спасательные, пожарные и прочие