// @media (min-width: 768px) {
  .news {
    display: block;
    padding-top: 80px;
    padding-bottom: 80px;

    &__title {
      text-align: center;
      font-weight: 800;
      margin-bottom: 60px;
      @media (max-width: 576px) {
        margin-bottom: 30px;
      }
    }
  }
  
  .news-item {
    position: relative;
    
    &__details {
      position: absolute;
      display: inline-block;
      content: '';

      left: 15px;
      bottom: 0;

      &:hover, &:visited {
        color: @white;
      }
    }

    &__all {
      position: absolute;
      display: inline-block;
      content: '';

      left: 15px;
      bottom: 0;
      
      &:hover, &:visited {
        color: @white;
      }
    }
  }

// }