@media (min-width: 768px) {
  .news {
    display: block;
    padding-top: 80px;
    padding-bottom: 80px;

    &__title {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 30px;
      line-height: 55px;
      margin-bottom: 60px;
    }
  }
  
  .news-item {
    position: relative;
    
    &__details {
      position: absolute;
      display: inline-block;
      content: '';

      left: 15px;
      bottom: 0;

      &:hover {
        color: @white;
      }
    }

    &__all {
      position: absolute;
      display: inline-block;
      content: '';

      left: 15px;
      bottom: 0;
      
      &:hover {
        color: @white;
      }
    }
  }

}