mixin blog-post(href, title, date, src)
  article.blog-post&attributes(attributes)
    div.inner(href= href)
      h3.blog-post__title
        a(href= href)= title
      p.blog-post__date= date
      div.blog-post__img-box
        img(src= src)
      block
