.blog-post {
  display: block;

  & a {
    color: @black;
    &:hover, &:active, &:focus, &:visited {
      text-decoration: none;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 800;
  }

  &__date {
    display: inline-block;
    color: @grey;
    padding-left: 10px;
    margin-bottom: 25px;
  }

  .icon-caledar {
    top: 3px;
  }

  &__img-box {
    
    img {
      width: 100%;
    }
  }
}
