// @media (min-width: 768px) {

  .blog-post {
    display: block;

    & a {
      color: @black;
      &:hover, &:active, &:focus, &:visited {
        text-decoration: none;
      }
    }

    &__title {
      font-size: 20px;
      line-height: 30px;
      font-weight: 800;
    }

    &__date {
      position: relative;
      color: @grey;
      padding-left: 30px;
      margin-bottom: 25px;

      &:before {
        position: absolute;
        content: '';
        display: inline-block;
        
        width: 15px;
        height: 15px;
        left: 0;
        top: 4px;

        background-image: url(../img/index/calendar.png);
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }

    &__img-box {
      
      img {
        width: 100%;
      }
    }
  }


// }