mixin arenda-map()
  section.arenda-map&attributes(attributes)
    div.container
      div.row
        div.col-xs-12.col-md-4
          p Двух, шести и десяти местные суда и катера на воздушной подушке в аренду в Санкт-Петербурге
        div.item.col-xs-12.col-md-2.col-md-offset-2
          span.sprite-icon.icon-arenda-point
          p Финский залив, большая Нева
        div.item.col-xs-12.col-md-2
          span.sprite-icon.icon-arenda-time
          p от 2 часов
        div.item.col-xs-12.col-md-2
          span.sprite-icon.icon-arenda-label
          p от 8000 р/час
      block
