mixin news-open(href, title, description, date, src, detailsHref)
  article.news-open&attributes(attributes)
    div.news-open__inner(href= href)
      h3.news-open__title
        a(href= href)= title
      p.news-open__description= description
      span.sprite-icon.icon-calendar
      p.news-open__date= date
      div.news-open__img-box
        img(src= src)
      block
