@media (min-width: 768px) {
  .news-open {
    display: block;

    & a {
      color: @black;
      &:hover, &:active, &:focus, &:visited {
        text-decoration: none;
      }
    }

    &__title {
      font-size: 20px;
      line-height: 30px;
      font-weight: bold;
      margin-bottom: 50px;
    }

    &__description {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 25px;
    }

    &__date {
      position: relative;
      color: @grey;
      padding-left: 30px;
      margin-bottom: 25px;
    }

    &__img-box {
      position: relative;
      height: 230px;
      overflow: hidden;
    }

    &__details {
      position: absolute;
      display: inline-block;
      content: '';

      left: 15px;
      bottom: 0;
    }
  }


}