
include ../../blocks/main-nav/main-nav
include ../../blocks/main-promo/main-promo
include ../../blocks/boat-card/boat-card
include ../../blocks/popular-models/popular-models
include ../../blocks/functions/functions
include ../../blocks/footer/footer
include ../../blocks/sertificate/sertificate
include ../../blocks/news/news
include ../../blocks/news-open/news-open
include ../../blocks/news-close/news-close
include ../../blocks/community/community
include ../../blocks/blog-post/blog-post
include ../../blocks/post-forum/post-forum
include ../../blocks/clients/clients
include ../../blocks/form-adv/form-adv
include ../../blocks/arenda-map/arenda-map
include ../../blocks/headline/headline
include ../../blocks/product-card/product-card
include ../../blocks/location/location
include ../../blocks/catalog-select/catalog-select
include ../../blocks/info-block/info-block
include ../../blocks/filtr/filtr
include ../../blocks/aerobots/aerobots
include ../../blocks/company-info/company-info
include ../../blocks/company-gallery/company-gallery
include ../../blocks/contact-subnav/contact-subnav