mixin contact-subnav()
  div.contact-subnav
    div.container
      ul.list
        li
          a(href="#") Санкт-Петербург
        li
          a(href="#") Новосибирск
        li
          a(href="#") Надым
        li
          a(href="#") Ханты-Мансийск
        li
          a(href="#") Нижный Новгород
        li
          a(href="#") Омск
        li
          a(href="#") Пермь
        li
          a(href="#") Самара
        li
          a(href="#") Азербайджан

      p.select-title Ваш город
      select.selectpicker
        option Санкт-Петербург
        option Новосибирск
        option Надым
        option Ханты-Мансийск
        option Нижний Новгород
        option Омск
        option Пермь
        option Самара
        option Азербайджан