mixin company-gallery()
  section.company-gallery&attributes(attributes)
    div.container
      div.row
        div.img-box.col-md-4
          img(src="./img/index/boat-card-1.jpg", alt="")
          div.fade
        div.img-box.col-md-4
          img(src="./img/index/boat-card-1.jpg", alt="")
          div.fade
        div.img-box.col-md-4
          img(src="./img/index/boat-card-1.jpg", alt="")
          div.fade 
      div.row
        div.img-box.col-md-4
          img(src="", alt="")
          div.fade
        div.img-box.col-md-4
          img(src="", alt="")
          div.fade
        div.img-box.col-md-4
          img(src="", alt="")
          div.fade