mixin company-gallery()
  section.company-gallery&attributes(attributes)
    div.container
      div.row
        div.company__img-box.col-sm-6.col-lg-4
          img(src="./img/company-gallery-1.jpeg", alt="")
          div.over-shadow
            span.sprite-icon.icon-resize-arrows
        div.company__img-box.col-sm-6.col-lg-4
          img(src="./img/company-gallery-2.jpeg", alt="") 
          div.over-shadow
            span.sprite-icon.icon-resize-arrows
        div.company__img-box.col-sm-6.col-lg-4
          img(src="./img/company-gallery-3.jpeg", alt="")
          div.over-shadow
            span.sprite-icon.icon-resize-arrows
        div.company__img-box.col-sm-6.col-lg-4
          img(src="./img/company-gallery-4.jpeg", alt="")
          div.over-shadow
            span.sprite-icon.icon-resize-arrows
        div.company__img-box.col-sm-6.col-lg-4
          img(src="./img/company-gallery-5.jpeg", alt="")
          div.over-shadow
            span.sprite-icon.icon-resize-arrows
        div.company__img-box.col-sm-6.col-lg-4
          img(src="./img/company-gallery-6.jpeg", alt="")
          div.over-shadow
            span.sprite-icon.icon-resize-arrows