.popular-models{
  display: block;
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: @grey-light;

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    line-height: 55px;
    color: @black;
    margin-bottom: 60px;
    @media (max-width: 992px) {
      line-height: 40px;
    }
  }
}