mixin footer()
  section.footer&attributes(attributes)
    div.container
      div.footer__phone-box
        p.footer__phone +7 812
          span 927 36 66
        p.footer__phone +7 495
          span 233 72 24
      div.footer__footer-top
        a.footer__logo(href='index.html')
          img(src='/img/index/snvp-logo-text.svg')
        div.footer__copyright snvp.su &#169; 2017
        a.footer__linktomap(href='#') Карта сайта
        a.footer__linktocatalog(href='#') Каталог наименований
        div.footer__socials
          a.footer__vk(href='#')
          a.footer__fb(href='#')
          a.footer__youtube(href='#')
          a.footer__gplus(href='#')
      div.footer__footer-main
        ul.footer__main-list
          li.footer__item-title Каталог
            ul.footer__sublist
              li.footer__sublink
                a(href='#') Судно на воздушной подушке
              li.footer__sublink
                a(href='#') Аэроглиссер
              li.footer__sublink
                a(href='#') Аэробот
              li.footer__sublink
                a(href='#') Аэроджип
              li.footer__sublink
                a(href='#') Аэролодка
              li.footer__sublink
                a(href='#') Вездеход на воздушной подушке
              li.footer__sublink
                a(href='#') Грузовая платформа на воздушной подушке
          li.footer__item-title Купить
            ul.footer__sublist
              li.footer__sublink
                a(href='#') Коммерческие перевозки
              li.footer__sublink
                a(href='#') Гос.проекты
              li.footer__sublink
                a(href='#') Частное использование
              li.footer__sublink
                a(href='#') Б/У
          li.footer__item-title Аренда
          li.footer__item-title Ремонт
            ul.footer__sublist
              li.footer__sublink 
                a(href='#') Запчасти
          li.footer__item-title О компании
            ul.footer__sublist
              li.footer__sublink
                a(href='#') О нас
              li.footer__sublink
                a(href='#') Доставка
              li.footer__sublink
                a(href='#') Реквизиты
              li.footer__sublink
                a(href='#') Контакты
              li.footer__sublink
                a(href='#') Презентация
          li.footer__item-title Блог
          li.footer__item-title Форум
      block
