mixin company-info()
  section.company-info&attributes(attributes)
    div.container
      div.row
        div.col-md-6
          p Предприятие создано в 1989 году на базе и при поддержке авиационного завода «Сокол». Сотрудники предприятия – высококвалифицированные специалисты, ранее работавшие на авиационном заводе «Сокол» и в Центральном конструкторском бюро по судам на подводных крыльях (ЦКБ по СПК). За годы эксплуатации  СВП в различных регионах от пустыни ОАЭ до тундры
        div.col-md-6
          p Якутии,  ООО «Амфибийная техника» приобрела огромный опыт в создании СВП, который использует в своих новых разработках. В настоящее время предприятие имеет собственные производственные цеха и серийно выпускает четыре вида СВП: СЛАВИР 5 (4-5 мест), СЛАВИР 6 (6-8 мест), СЛАВИР 9 (9-12 мест), СЛАВИР ГР (грузопассажирский, специального назначения)