mixin main-promo()
  section.main-promo
    div.container
      div.main-promo__phone-box
        p.main-promo__phone +7 812
          span  927 36 66
        p.main-promo__phone +7 495
          span  233 72 24
      div.row
        div.col-md-8.col-md-offset-2
          h1.main-promo__title Катера и суда<br> на&nbsp;воздушной подушке
      div.row
        div.col-md-8.col-md-offset-2
          p.main-promo__more Хотите узнать больше?
      div.row
          ul.main-promo__list
            li.main-promo__item.col-xs-6.col-sm-2
              a.main-promo__link(href='#')
                div.main-promo__img-box
                  img.main-promo__img(src='img/index/promo-1.png')
                p.main-promo__link-txt Пройдите тест-драйв
            li.main-promo__item.col-xs-6.col-sm-2
              a.main-promo__link(href='#')
                div.main-promo__img-box
                  img.main-promo__img(src='img/index/promo-2.png')
                p.main-promo__link-txt Скачайте презентацию
            li.main-promo__item.col-xs-6.col-sm-2
              a.main-promo__link(href='#')
                div.main-promo__img-box
                  img.main-promo__img(src='img/index/promo-3.png')
                p.main-promo__link-txt Посмотрите видео
            li.main-promo__item.col-xs-6.col-sm-2
              a.main-promo__link(href='#')
                div.main-promo__img-box
                  img.main-promo__img(src='img/index/promo-4.png')
                p.main-promo__link-txt Найдите дилера
      block
