// @media (min-width: 768px) { 
  .post-forum {
    display: block;
    margin-bottom: 40px;

    &__title {
      font-size: 16px;
      line-height: 26px;
      color: @black;

      &:hover, &:visited {
        color: @black;
        text-decoration: none;
      }
    }

    &__date, &__author, &__topic {
      color: @grey;

      &:hover, &:visited {
        color: @grey;
      }
    }

    &__author, &__topic {
      @media (max-width: 768px) {
        display: none;
      }
    }

    &__date {
      padding-left: 30px;
    }
  }


// }