// @media (min-width: 768px) { 
  .post-forum {
    display: block;
    margin-bottom: 40px;

    &__title a {
      font-size: 16px;
      line-height: 26px;
      color: @black;

      &:hover, &:visited {
        color: @black;
        // text-decoration: none;
      }
    }

    .table {
      display: table;
      width: 100%;
    }

    .table-row {
      display: table-row;
    }

    &__subinfo {
      display: table-cell;
      text-align: center;
      // padding-left: 10px;
      // padding-right: 10px;
      border-right: 1px solid @grey;
      &:last-child {
        border-right: none;
      }
      span {
        color: @grey;
      }
    }
  }


// }