extends ../layout/_layoutBase.pug

block content

  div.page

    +main-nav()

    +headline('О компании', 'О компании', '')

    +company-info()

    //- ТУТ БУДЕТ ГАЛЛЕРЕЯ
    +company-gallery()

    +footer()