extends ../layout/_layoutBase.pug

block content

  +main-nav()

  +headline('Аренда', 'Аренда', '')

  +arenda-map()
  
  div.arenda-cards
    div.container
      div.row
        div.boat-item.col-xs-12.col-sm-6.col-md-3
          +boat-card('./img/index/boat-card-1.jpg', 'SNVP-551', 'СНВП-551', 'Катер на воздушной подушке', '4-5 чел.', '450 кг', '5 м', '', 'Заказать')
            p.price 8000 
              span р/час
        div.boat-item.col-xs-12.col-sm-6.col-md-3
          +boat-card('./img/index/boat-card-2.jpg', 'SNVP-551', 'СНВП-551', 'Катер на воздушной подушке', '4-5 чел.', '450 кг', '5 м', '', 'Заказать')
            p.price 8000 
              span р/час
        div.boat-item.col-xs-12.col-sm-6.col-md-3
          +boat-card('./img/index/boat-card-3.jpg', 'SNVP-551', 'СНВП-551', 'Катер на воздушной подушке', '4-5 чел.', '450 кг', '5 м', '', 'Заказать')
            p.price 8000 
              span р/час
        div.boat-item.col-xs-12.col-sm-6.col-md-3
          +boat-card('./img/index/boat-card-4.jpg', 'SNVP-551', 'СНВП-551', 'Катер на воздушной подушке', '4-5 чел.', '450 кг', '5 м', '', 'Заказать')
            p.price 8000 
              span р/час

  div.arenda-garanty
    div.container
      div.row
        div.col-md-6
          p Все катера лицензированы, а пассажиры застрахованы. Наши капитаны профессионалы, наши цены от судовладельца.Очень удобно использовать СВП для активного отдыха, рыбалки, туристических поездок по заповедным местам.
        div.col-md-6
          p Аренда катера на воздушной подушке удобна для путешествий по заповедным уголкам,  рыбалки и других видов отдыха, обойдется она не намного дороже аренды обычного маломерного катера, но последующих впечатлений будет неизмеримо больше.

  +footer()
