extends ../layout/_layoutBase.pug

block content

  +main-nav()

  +headline('Контакты', 'Контакты', '')
    li.breadcrumb-item
      a(href='about-company.html') О компании
      span.glyphicon.glyphicon-chevron-right

  +contact-subnav()

  +location()

  +footer()