extends ../layout/_layoutBase.pug


block content

  +main-nav()

  +main-promo()

  +popular-models()
    +e.container
      +e.row
        +e.boat-item.col-md-3
          +boat-card('/img/index/boat-card-1.jpg', 'SNVP-551', 'СНВП-551', 'Катер на воздушной подушке', '4-5 чел.', '450 кг', '5 м', '')
        +e.boat-item.col-md-3
          +boat-card('/img/index/boat-card-2.jpg', 'SNVP-551', 'СНВП-551', 'Катер на воздушной подушке', '4-5 чел.', '450 кг', '5 м', '')
        +e.boat-item.col-md-3
          +boat-card('/img/index/boat-card-3.jpg', 'SNVP-551', 'СНВП-551', 'Катер на воздушной подушке', '4-5 чел.', '450 кг', '5 м', '')
        +e.boat-item.col-md-3
          +boat-card('/img/index/boat-card-4.jpg', 'SNVP-551', 'СНВП-551', 'Катер на воздушной подушке','4-5 чел.','450 кг', '5 м', '')
  
  +news()
    +e.news-item.col-md-6
      +news-open('Во время гонки «ВолгаХоверШоу» перевернулось судно на воздушной подушке «Пегас».', 'В минувшую субботу, 27 февраля, во время одного из заездов гонки «ВолгаХоверШоу», проходившей в Нижнем Новгороде, один из участвовавших в ней катеров перевернулся во время выполнения маневра.', 'март 01, 2015', '/img/index/news-photo.jpg')
    +e.news-item.col-md-6
      +news-close('В продаже появилось судно на воздушной подушке «Нептун-23»', 'Продается СВП «Нептун-23». Построен в феврале 2016 года. Есть все документы Российского Речного Регистра', 'Август 19, 2015')
      +news-close('Судно на воздушной подушке в наличие', 'СВП с уникальной схемой гибкого ограждения и авторским дизайном внешнего вида для частного использования (документы ГИМС)', 'март 01, 2015')

  +community()

  +functions()

  +sertificate()

  +footer()