extends ../layout/_layoutBase.pug


block content

  +main-nav()

  +main-promo() 

  +popular-models()
    +e.DIV.container
      +e.row
        +boat-card('col-md-3', '/img/index/boat-card-1.jpg', 'SNVP-551', 'СНВП-551', 'Катер на воздушной подушке', '4-5 чел.', '450 кг', '5 м')
        +boat-card('col-md-3','/img/index/boat-card-2.jpg', 'SNVP-551', 'СНВП-551', 'Катер на воздушной подушке', '4-5 чел.', '450 кг', '5 м')
        +boat-card('col-md-3','/img/index/boat-card-3.jpg', 'SNVP-551', 'СНВП-551', 'Катер на воздушной подушке', '4-5 чел.', '450 кг', '5 м')
        +boat-card('col-md-3','/img/index/boat-card-4.jpg', 'SNVP-551', 'СНВП-551', 'Катер на воздушной подушке','4-5 чел.','450 кг', '5 м')

  +functions()  