extends ../layout/_layoutBase.pug


block content

    +main-nav()

    +main-promo()

    +clients()

    +popular-models()
      div.container
        div.row
          div.popular-models__boat-item.col-xs-12.col-sm-6.col-md-3
            +boat-card('./img/index/boat-card-1.jpg', 'SNVP-551', 'СНВП-551', 'Катер на воздушной подушке', '4-5 чел.', '450 кг', '5 м', '')
          div.popular-models__boat-item.col-xs-12.col-sm-6.col-md-3
            +boat-card('./img/index/boat-card-2.jpg', 'SNVP-551', 'СНВП-551', 'Катер на воздушной подушке', '4-5 чел.', '450 кг', '5 м', '')
          div.popular-models__boat-item.col-xs-12.col-sm-6.col-md-3
            +boat-card('./img/index/boat-card-3.jpg', 'SNVP-551', 'СНВП-551', 'Катер на воздушной подушке', '4-5 чел.', '450 кг', '5 м', '')
          div.popular-models__boat-item.col-xs-12.col-sm-6.col-md-3
            +boat-card('./img/index/boat-card-4.jpg', 'SNVP-551', 'СНВП-551', 'Катер на воздушной подушке','4-5 чел.','450 кг', '5 м', '')

    +functions()

    +form-adv()

    +news()
      div.container
        div.row
          div.news-item.col-md-6
            +news-open('#', 'Во время гонки «ВолгаХоверШоу» перевернулось судно на воздушной подушке «Пегас».', 'В минувшую субботу, 27 февраля, во время одного из заездов гонки «ВолгаХоверШоу», проходившей в Нижнем Новгороде, один из участвовавших в ней катеров перевернулся во время выполнения маневра.', 'март 01, 2015', './img/index/news-photo.jpg')
            a.news-item__details.btn.btn--blue.btn--arrow(href='#') Подробнее
          div.news-item.col-md-6
            +news-close('#', 'В продаже появилось судно на воздушной подушке «Нептун-23»', 'Продается СВП «Нептун-23». Построен в феврале 2016 года. Есть все документы Российского Речного Регистра', 'Август 19, 2015')
            +news-close('#', 'Судно на воздушной подушке в наличие', 'СВП с уникальной схемой гибкого ограждения и авторским дизайном внешнего вида для частного использования (документы ГИМС)', 'март 01, 2015')
            a.news-item__all.btn.btn--blue.btn--arrow(href= '#') Все новости

    +community()
      div.container
        div.row
          div.community-item.col-md-6
            div.community-item__new-post Новый пост в блоге
            +blog-post('', 'Лизинг судов на воздушной подушке всех моделей марки "СНВП"', 'Август 19, 2016', './img/index/news-photo.jpg')
          div.community-item.col-md-6
            div.community-item__new-on-forum Новые темы на форуме
            +post-forum('#', 'Люфт рулевого троса управления', 'март 01, 2016', 'Gleb Ryabov', 'Моторные лодки и катера')
            +post-forum('#', 'Выбор катера для новичка', 'март 01, 2016', 'Gleb Ryabov', 'Моторные лодки и катера')
            +post-forum('#', 'Рыболовная кастрюля / прогулочный пластик или fish&ski?', 'март 01, 2016', 'Gleb Ryabov', 'Моторные лодки и катера')

    +sertificate()

    +footer()