mixin product-card()
  div.product-card&attributes(attributes)
    div.container
      //- h2 Griffon Hoverwork 1050 TD
      div.row
        div.col-md-6
          p.subtitle Судно на воздушной подушке
          div.product-item-gallery
            div.royalSlider.rsUni#item-gallery
              a.rsImg(data-rsbigimg="img/company-gallery-1.jpeg" href="img/company-gallery-1.jpeg")
                img.rsTmb(src="img/company-gallery-1.jpeg")
              a.rsImg(data-rsbigimg="img/company-gallery-2.jpeg" href="img/company-gallery-2.jpeg")
                img.rsTmb(src="img/company-gallery-2.jpeg")
              a.rsImg(data-rsbigimg="img/company-gallery-3.jpeg" href="img/company-gallery-3.jpeg")
                img.rsTmb(src="img/company-gallery-3.jpeg")
              a.rsImg(data-rsbigimg="img/company-gallery-4.jpeg" href="img/company-gallery-4.jpeg")
                img.rsTmb(src="img/company-gallery-4.jpeg")
              a.rsImg(data-rsbigimg="img/company-gallery-5.jpeg" href="img/company-gallery-5.jpeg")
                img.rsTmb(src="img/company-gallery-5.jpeg")
              a.rsImg(data-rsbigimg="img/company-gallery-6.jpeg" href="img/company-gallery-6.jpeg")
                img.rsTmb(src="img/company-gallery-6.jpeg")
              img.rsTmb(src="img/company-gallery-6.jpeg" data-rsVideo="https://vimeo.com/44878206")

        div.col-md-6
          p.price Цена: 
            span по запросу
          p Производитель: 
            span Griffon Hoverwork
          p Сейчас на складе: 
            span 1
          div.icons
            span.sprite-icon.icon-boatcard-people
            span.text 4-5 чел.
            span.sprite-icon.icon-boatcard-width
            span.text 450 кг.
            span.sprite-icon.icon-boatcard-lenght
            span.text 5 м.
          p.description Судно на ВП может легко двигаться по суше и по воде. Эта воздушная подушка образуется благодаря нагнетанию воздуха под днище катера. Слой воздуха приподнимает катер над поверхностью воды, и поскольку трение отсутствует, снижается сопротивление движению. Катер Griffon Hoverwork 1050TD имеет отличную скорость, хорошую проходимость и амфибийность. Он предназначен для эксплуатации в любое время года. При этом передвигаться модель может по воде, снегу, траве, болоту, равнине.

          div.btn.btn--bordered Узнать цену

      div.characteristic
        h3 Характеристики
        div.row
          div.col-md-6
              div.tr
                div.td.property Длина, Ширина, Высота:
                div.td.value 9,5 × 4,89 × 3,05 метра
              div.tr 
                div.td.property Вместимость, кол. чел. на борту: 
                div.td.value 7-11 чел.
              div.tr
                div.td.property Максимальный полезный груз: 
                div.td.value 800 кг.
              div.tr
                div.td.property Продолжительность работы: 
                div.td.value 4 часов
              div.tr
                div.td.property Расход топлива: 
                div.td.value 28 л/ч
              div.tr
                div.td.property Скорость при полной нагрузке
                div.td.value 30 узлов
              div.tr 
                div.td.property Тип двигателя: 
                div.td.value 2 x VW
              div.tr
                div.td.property Мощность двигателя 
                div.td.value 74кВт 84л.с.
              div.tr
                div.td.property Приблизительный полет препятствий: 
                div.td.value 0,45 м
              div.tr
                div.td.property Рекомендуемая длина волны: 
                div.td.value 0,7 м