mixin filtr()
  section.filtr&attributes(attributes)
    div.container
      div.filtr-box
        form
          div.form-item
            input(type='checkbox',name='option',value='',id='commerc')
            label(for='commerc') Коммерческие перевозки
          div.form-item
            input(type='checkbox',name='option',value='',id='public')
            label(for='public') Государственные проекты
          div.form-item
            input(type='checkbox',name='option',value='',id='privat')
            label(for='privat') Частное использование
          div.form-item
            input(type='radio', id='secondhand')
            label(for='secondhand') Б/у

        div.slider
          p Количество мест
          div(id='slider')
            p.value 18
