mixin filtr()
  section.filtr&attributes(attributes)
    div.container
      div.row
        form
          div.col-md-9.form-col
            div.form__items
              div.form__item
                div.custom-checkbox
                  input(type='checkbox', name='boat', id='commerc' checked="")
                  label(for='commerc') Коммерческие
                    span перевозки
              div.form__item
                div.custom-checkbox
                  input(type='checkbox', name='boat', id='public')
                  label(for='public') Государственные
                    span проекты
              div.form__item
                div.custom-checkbox
                  input(type='checkbox', name='boat', id='privat')
                  label(for='privat') Частное
                    span использование
              div.form__item
                div.custom-checkbox
                  input(type='checkbox', name='boat', id='secondhand')
                  label(for='secondhand') Б/у

          div.slider.col-md-3.form__item
            p Количество мест
            div(id='slider')
              div.ui-slider-handle
                div#slider-handle.slider__handle
