.filtr {
  display: block;
  background-color: #334d7d;
  padding-top: 40px;
  padding-bottom: 30px;
  color: @white;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;

  .filtr-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  form {
    @media (max-width: 992px) {
      margin: 0 auto;
    }
  }

  .form-item {
    box-sizing: border-box;
    padding: 0 15px;
    &:last-child {
      text-align: center;
      @media (max-width: 1200px) {
        text-align: left; 
      }
    }
    @media (max-width: 991px) {
      margin-bottom: 50px;
    }
  }

  input[type="checkbox"] {
    border: none;
    vertical-align: top;
    margin-right: 10px;

    @media (max-width: 992px) {
      display: block;
      margin: 0 auto;
      margin-top: 40px;
      margin-bottom: 15px;
    }

    &:focus {
      border: none;
    }
  }

  input[type="radio"] {
    margin-right: 10px;
    vertical-align: top;

    @media (max-width: 992px) {
      display: block;
      margin: 0 auto;
      margin-top: 40px;
      margin-bottom: 15px;
    }
  }

  label {
    font-weight: 500;

    @media (max-width: 992px) {
      display: block;
      text-align: center;
      
    }
  }

  label > span {
    display: block;
  }

  .slider {
    width: 220px;
    float: right;
    
    p {
      text-align: center;
      font-family: 'Open Sans', sans-serif;
    }
    @media (max-width: 992px) {
      margin: 0 auto;
      margin-bottom: 80px;
      float: none;
    }

    .value {
      margin-top: 10px;
    }
  }

  .ui-slider {
    border: none;
  }

  .ui-widget-header {
    background: @blue;
  }

  .ui-widget-content {
    color: @white;
    height: 5px;
  }

  .ui-state-default {
    background-color: @blue;
    border: none;
    border-radius: 50%;

    width: 0.9em;
    height: 0.9em;

    &:focus {
      outline: none;
    }
  }

  // Checkbox style
  .custom-checkbox > [type="checkbox"],
  .custom-checkbox > label,
  .custom-radio > [type="radio"],
  .custom-radio > label {
      margin-bottom: 0 !important;
      user-select: none;
  }

  .custom-checkbox > [type="checkbox"]:not(:checked),
  .custom-checkbox > [type="checkbox"]:checked,
  .custom-radio > [type="radio"]:not(:checked),
  .custom-radio > [type="radio"]:checked {
    position: absolute;
    left: -9999px;
  }

  .custom-checkbox > [type="checkbox"]:not(:checked) + label,
  .custom-checkbox > [type="checkbox"]:checked + label,
  .custom-radio > [type="radio"]:not(:checked) + label,
  .custom-radio > [type="radio"]:checked + label {
      position: relative;
      padding-left: 22px;
      cursor: pointer;
      color: #fff;
  }

  .custom-checkbox > [type="checkbox"]:not(:checked) + label:before,
  .custom-checkbox > [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 2px;
  }


  .custom-radio > [type="radio"]:not(:checked) + label:before,
  .custom-radio > [type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 50%;
  }

  .custom-checkbox > [type="checkbox"]:not(:checked) + label:before,
  .custom-radio > [type="radio"]:not(:checked) + label:before {
    background: #fff;
  }

  .custom-checkbox > [type="checkbox"]:checked + label:before,
  .custom-radio > [type="radio"]:checked + label:before {
    background: #258cd5;
  }

  .custom-checkbox > [type="checkbox"]:not(:checked) + label:after,
  .custom-checkbox > [type="checkbox"]:checked + label:after {
    font: normal normal normal 10px/1 'Glyphicons Halflings';
    content: '\e013';
    position: absolute;
    top: 4px;
    left: 4px;
    color: #fff;
  }


  .custom-radio > [type="radio"]:not(:checked) + label:after,
  .custom-radio > [type="radio"]:checked + label:after {
    font: normal normal normal 10px/1 'glyphicon-record';
    content: '\e013';
    position: absolute;
    top: 4px;
    left: 4px;
    color: #fff;
  }

  .custom-checkbox > [type="checkbox"]:not(:checked) + label:after,
  .custom-radio > [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }

  .custom-checkbox > [type="checkbox"]:checked + label:after,
  .custom-radio > [type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  .custom-checkbox > [type="checkbox"][data-indeterminate] + label:after,
  .custom-checkbox > [type="checkbox"][data-indeterminate] + label:after,
  .custom-radio > [type="radio"][data-indeterminate] + label:after,
  .custom-radio > [type="radio"][data-indeterminate] + label:after {
    content: '\2212';
    left: 2px;
    opacity: 1;
    transform: scale(1);
  }

  .custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:before,
  .custom-checkbox > [type="checkbox"]:disabled:checked + label:before,
  .custom-radio > [type="radio"]:disabled:not(:checked) + label:before,
  .custom-radio > [type="radio"]:disabled:checked + label:before {
    box-shadow: none;
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 1;
    color: #888;
  }

   .custom-checkbox > [type="checkbox"]:disabled:checked + label:after,
   .custom-radio > [type="radio"]:disabled:checked + label:after {
    color: #888;
    cursor: not-allowed;
  }

  .custom-checkbox > [type="checkbox"]:disabled + label,
  .custom-radio > [type="radio"]:disabled + label {
    color: #aaa;
    cursor: not-allowed;
  }
}