// @media (min-width: 768px) {
  
  .boat-card {
    display: block;
    min-height: 503px;
    background-color: @white;

    &__link-to-boat {
      display: block;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }

    &__img-box {
      height: 250px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    &__title {
      font-weight: bold;
      font-size: 20px;
      line-height: 26px;
      color: @black;
      text-transform: uppercase;
      padding-left: 30px;
      padding-right: 30px;
    }

    &__subtitle {
      color: @black;
      font-size: 16px;
      line-height: 26px;
      padding-left: 30px;
      padding-right: 30px;
    }

    &__about {
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 20px;
    }

    &__people, &__weight, &__length {
      display: inline-block;
      position: relative;
      font-size: 11px;
      color: #b5b5b5;
      padding-left: 30px;

      &:before {
        position: absolute;
        content: '';
        display: inline-block;
        
        top: 0;
        left: 0;

        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

    &__people:before {
      top: -2px;
      width: 11px;
      height: 23px;
      background-image: url(/img/index/boatcard-people.png);
    }

    &__weight:before {
      left: 10px;
      width: 14px;
      height: 18px;
      background-image: url(/img/index/boatcard-width.png);
    }

    &__length:before {
      top: 3px;
      left: 5px;
      width: 20px;
      height: 11px;
      background-image: url(/img/index/boatcard-lenght.png);
    }

    &__btn {
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 20px;
    }
  }

