// @media (min-width: 768px) {

  .sertificate {
    display: block;
    padding-top: 80px;

    &__title {
      font-weight: 800;
      text-align: center;
      margin-bottom: 60px;
      @media (max-width: 576px) {
        margin-bottom: 20px;
      }
    }

    &__text {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 85px;
      @media (max-width: 576px) {
        margin-bottom: 40px;
      }
    }

    &__approve {
      margin-bottom: 60px;

      a {
        color: @blue;
      }

      @media (max-width: 576px) {
        margin-bottom: 50px;
      }
    }
  }

  .linktosertificate {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 50px;
      color: @blue;

      &:before {
        position: absolute;
        content: '';
        display: inline-block;
        
        left: 0;
        top: 5px;
        width: 20px;
        height: 20px;

        background-image: url(images/);
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: @green;
      }
    }


// }