mixin sertificate()
  section.sertificate&attributes(attributes)
    div.container
      h2.sertificate__title Большой выбор моделей
      div.row
        div.col-md-6
          p.sertificate__text Несмотря на универсальность данной техники, транспортные средства на воздушной подушке бывают очень разными, и для каждой конкретной задачи подходит исключительно своя конкретная модель. Например, судно на воздушной подушке Арго позволяет перевозить до десяти пассажиров и часто используется во время активного отдыха или экскурсионных туров. А вот специализированный катер Пума оборудован небольшим операционно-реанимационным блоком и поэтому зачастую применяется для медицинско-спасательных работпорадует вас своей доступностью.
        div.col-md-6
          p.sertificate__text Собираясь купить катер данного типа, стоит учитывать тот факт, что цена лодки на воздушной подушке зависит от её размеров, грузоподъемности и других значимых факторов. Если вам понадобилось именно такое удобное и многофункциональное судно, купить его вы можете в нашей компании. Мы предлагаем высококачественные суда, продажа которых является нашей основной специализацией. Только у нас вы можете выбрать наиболее подходящие вам суда (такие как катер, экранолет или лодка) цена на которые обязательно порадует вас своей доступностью.
      p.sertificate__approve Наши проекты имеют одобрение
        a(href='#') Российского Морского Регистра Судоходства (РМРС), 
        a(href='#') Российского Речного Регистра (РРР), 
        a(href='#') Государственной Инспекции Маломерных Судов (ГИМС).
      div.row
        div.col-md-5
          a.linktosertificate(href='#') Сертификация проведена специалистами Органа по сертификации прогулочных судов «ГИМС-ГАЛС» г. Москва.
          a.linktosertificate(href='#') Сертификация проведена специалистами Научно-исследовательского института стандартизации и сертификации «ЛОТ» г. Санкт-Петербург.
        div.col-md-6.col-md-offset-1
          a.linktosertificate(href='#') Сертификация проведена специалистами Органа по сертификации прогулочных судов «ГИМС-ГАЛС» г. Москва.
          a.linktosertificate(href='#') Сертификация проведена специалистами Научно-исследовательского института стандартизации и сертификации «ЛОТ» г. Санкт-Петербург.
      block
