.btn {
  border-radius: 0;

  &--blue {
    background-color: @blue;
    color: @white;
  }

  &--arrow {
    padding-right: 50px;

    &:after {
      background-image: url(images/);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  &--bordered {
    border: 3px solid @blue;
    color: @black;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    // padding-top: 10px;
    // padding-bottom: 10px;

    &:hover {
      background-color: @blue;
      color: @white;
    }
  }
}