.btn {
  border-radius: 0;

  &--blue {
    background-color: @blue;
    color: @white;
  }

  &--arrow {
    position: relative;
    padding-right: 50px;

    &:after {
      position: absolute;
      content: '';
      display: inline-block;
      
      width: 15px;
      height: 7px;
      top: 14px;
      right: 10px;

      background-image: url(/img/index/strelka.png);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  &--bordered {
    border: 3px solid @blue;
    color: @black;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    // padding-top: 10px;
    // padding-bottom: 10px;

    &:hover {
      background-color: @blue;
      color: @white;
    }
  }
}