/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@icon-arenda-label-name: 'icon-arenda-label';
@icon-arenda-label-x: 56px;
@icon-arenda-label-y: 231px;
@icon-arenda-label-offset-x: -56px;
@icon-arenda-label-offset-y: -231px;
@icon-arenda-label-width: 43px;
@icon-arenda-label-height: 43px;
@icon-arenda-label-total-width: 363px;
@icon-arenda-label-total-height: 320px;
@icon-arenda-label-image: '../img/png-sprite.png';
@icon-arenda-label: 56px 231px -56px -231px 43px 43px 363px 320px '../img/png-sprite.png' 'icon-arenda-label';
@icon-arenda-point-name: 'icon-arenda-point';
@icon-arenda-point-x: 326px;
@icon-arenda-point-y: 141px;
@icon-arenda-point-offset-x: -326px;
@icon-arenda-point-offset-y: -141px;
@icon-arenda-point-width: 34px;
@icon-arenda-point-height: 40px;
@icon-arenda-point-total-width: 363px;
@icon-arenda-point-total-height: 320px;
@icon-arenda-point-image: '../img/png-sprite.png';
@icon-arenda-point: 326px 141px -326px -141px 34px 40px 363px 320px '../img/png-sprite.png' 'icon-arenda-point';
@icon-arenda-time-name: 'icon-arenda-time';
@icon-arenda-time-x: 184px;
@icon-arenda-time-y: 231px;
@icon-arenda-time-offset-x: -184px;
@icon-arenda-time-offset-y: -231px;
@icon-arenda-time-width: 39px;
@icon-arenda-time-height: 39px;
@icon-arenda-time-total-width: 363px;
@icon-arenda-time-total-height: 320px;
@icon-arenda-time-image: '../img/png-sprite.png';
@icon-arenda-time: 184px 231px -184px -231px 39px 39px 363px 320px '../img/png-sprite.png' 'icon-arenda-time';
@icon-arrow-l-nav-name: 'icon-arrow-l-nav';
@icon-arrow-l-nav-x: 235px;
@icon-arrow-l-nav-y: 144px;
@icon-arrow-l-nav-offset-x: -235px;
@icon-arrow-l-nav-offset-y: -144px;
@icon-arrow-l-nav-width: 18px;
@icon-arrow-l-nav-height: 14px;
@icon-arrow-l-nav-total-width: 363px;
@icon-arrow-l-nav-total-height: 320px;
@icon-arrow-l-nav-image: '../img/png-sprite.png';
@icon-arrow-l-nav: 235px 144px -235px -144px 18px 14px 363px 320px '../img/png-sprite.png' 'icon-arrow-l-nav';
@icon-arrow-r-nav-name: 'icon-arrow-r-nav';
@icon-arrow-r-nav-x: 296px;
@icon-arrow-r-nav-y: 201px;
@icon-arrow-r-nav-offset-x: -296px;
@icon-arrow-r-nav-offset-y: -201px;
@icon-arrow-r-nav-width: 18px;
@icon-arrow-r-nav-height: 14px;
@icon-arrow-r-nav-total-width: 363px;
@icon-arrow-r-nav-total-height: 320px;
@icon-arrow-r-nav-image: '../img/png-sprite.png';
@icon-arrow-r-nav: 296px 201px -296px -201px 18px 14px 363px 320px '../img/png-sprite.png' 'icon-arrow-r-nav';
@icon-boatcard-lenght-name: 'icon-boatcard-lenght';
@icon-boatcard-lenght-x: 271px;
@icon-boatcard-lenght-y: 201px;
@icon-boatcard-lenght-offset-x: -271px;
@icon-boatcard-lenght-offset-y: -201px;
@icon-boatcard-lenght-width: 23px;
@icon-boatcard-lenght-height: 14px;
@icon-boatcard-lenght-total-width: 363px;
@icon-boatcard-lenght-total-height: 320px;
@icon-boatcard-lenght-image: '../img/png-sprite.png';
@icon-boatcard-lenght: 271px 201px -271px -201px 23px 14px 363px 320px '../img/png-sprite.png' 'icon-boatcard-lenght';
@icon-boatcard-people-name: 'icon-boatcard-people';
@icon-boatcard-people-x: 164px;
@icon-boatcard-people-y: 94px;
@icon-boatcard-people-offset-x: -164px;
@icon-boatcard-people-offset-y: -94px;
@icon-boatcard-people-width: 11px;
@icon-boatcard-people-height: 21px;
@icon-boatcard-people-total-width: 363px;
@icon-boatcard-people-total-height: 320px;
@icon-boatcard-people-image: '../img/png-sprite.png';
@icon-boatcard-people: 164px 94px -164px -94px 11px 21px 363px 320px '../img/png-sprite.png' 'icon-boatcard-people';
@icon-boatcard-width-name: 'icon-boatcard-width';
@icon-boatcard-width-x: 162px;
@icon-boatcard-width-y: 136px;
@icon-boatcard-width-offset-x: -162px;
@icon-boatcard-width-offset-y: -136px;
@icon-boatcard-width-width: 14px;
@icon-boatcard-width-height: 18px;
@icon-boatcard-width-total-width: 363px;
@icon-boatcard-width-total-height: 320px;
@icon-boatcard-width-image: '../img/png-sprite.png';
@icon-boatcard-width: 162px 136px -162px -136px 14px 18px 363px 320px '../img/png-sprite.png' 'icon-boatcard-width';
@icon-calendar-name: 'icon-calendar';
@icon-calendar-x: 178px;
@icon-calendar-y: 144px;
@icon-calendar-offset-x: -178px;
@icon-calendar-offset-y: -144px;
@icon-calendar-width: 18px;
@icon-calendar-height: 17px;
@icon-calendar-total-width: 363px;
@icon-calendar-total-height: 320px;
@icon-calendar-image: '../img/png-sprite.png';
@icon-calendar: 178px 144px -178px -144px 18px 17px 363px 320px '../img/png-sprite.png' 'icon-calendar';
@icon-catalog-select-1-name: 'icon-catalog-select-1';
@icon-catalog-select-1-x: 0px;
@icon-catalog-select-1-y: 94px;
@icon-catalog-select-1-offset-x: 0px;
@icon-catalog-select-1-offset-y: -94px;
@icon-catalog-select-1-width: 105px;
@icon-catalog-select-1-height: 40px;
@icon-catalog-select-1-total-width: 363px;
@icon-catalog-select-1-total-height: 320px;
@icon-catalog-select-1-image: '../img/png-sprite.png';
@icon-catalog-select-1: 0px 94px 0px -94px 105px 40px 363px 320px '../img/png-sprite.png' 'icon-catalog-select-1';
@icon-catalog-select-2-name: 'icon-catalog-select-2';
@icon-catalog-select-2-x: 57px;
@icon-catalog-select-2-y: 174px;
@icon-catalog-select-2-offset-x: -57px;
@icon-catalog-select-2-offset-y: -174px;
@icon-catalog-select-2-width: 83px;
@icon-catalog-select-2-height: 32px;
@icon-catalog-select-2-total-width: 363px;
@icon-catalog-select-2-total-height: 320px;
@icon-catalog-select-2-image: '../img/png-sprite.png';
@icon-catalog-select-2: 57px 174px -57px -174px 83px 32px 363px 320px '../img/png-sprite.png' 'icon-catalog-select-2';
@icon-catalog-select-3-name: 'icon-catalog-select-3';
@icon-catalog-select-3-x: 178px;
@icon-catalog-select-3-y: 0px;
@icon-catalog-select-3-offset-x: -178px;
@icon-catalog-select-3-offset-y: 0px;
@icon-catalog-select-3-width: 91px;
@icon-catalog-select-3-height: 42px;
@icon-catalog-select-3-total-width: 363px;
@icon-catalog-select-3-total-height: 320px;
@icon-catalog-select-3-image: '../img/png-sprite.png';
@icon-catalog-select-3: 178px 0px -178px 0px 91px 42px 363px 320px '../img/png-sprite.png' 'icon-catalog-select-3';
@icon-catalog-select-4-name: 'icon-catalog-select-4';
@icon-catalog-select-4-x: 0px;
@icon-catalog-select-4-y: 51px;
@icon-catalog-select-4-offset-x: 0px;
@icon-catalog-select-4-offset-y: -51px;
@icon-catalog-select-4-width: 103px;
@icon-catalog-select-4-height: 41px;
@icon-catalog-select-4-total-width: 363px;
@icon-catalog-select-4-total-height: 320px;
@icon-catalog-select-4-image: '../img/png-sprite.png';
@icon-catalog-select-4: 0px 51px 0px -51px 103px 41px 363px 320px '../img/png-sprite.png' 'icon-catalog-select-4';
@icon-catalog-select-5-name: 'icon-catalog-select-5';
@icon-catalog-select-5-x: 105px;
@icon-catalog-select-5-y: 51px;
@icon-catalog-select-5-offset-x: -105px;
@icon-catalog-select-5-offset-y: -51px;
@icon-catalog-select-5-width: 69px;
@icon-catalog-select-5-height: 30px;
@icon-catalog-select-5-total-width: 363px;
@icon-catalog-select-5-total-height: 320px;
@icon-catalog-select-5-image: '../img/png-sprite.png';
@icon-catalog-select-5: 105px 51px -105px -51px 69px 30px 363px 320px '../img/png-sprite.png' 'icon-catalog-select-5';
@icon-catalog-select-6-name: 'icon-catalog-select-6';
@icon-catalog-select-6-x: 0px;
@icon-catalog-select-6-y: 136px;
@icon-catalog-select-6-offset-x: 0px;
@icon-catalog-select-6-offset-y: -136px;
@icon-catalog-select-6-width: 108px;
@icon-catalog-select-6-height: 36px;
@icon-catalog-select-6-total-width: 363px;
@icon-catalog-select-6-total-height: 320px;
@icon-catalog-select-6-image: '../img/png-sprite.png';
@icon-catalog-select-6: 0px 136px 0px -136px 108px 36px 363px 320px '../img/png-sprite.png' 'icon-catalog-select-6';
@icon-catalog-select-7-name: 'icon-catalog-select-7';
@icon-catalog-select-7-x: 0px;
@icon-catalog-select-7-y: 0px;
@icon-catalog-select-7-offset-x: 0px;
@icon-catalog-select-7-offset-y: 0px;
@icon-catalog-select-7-width: 176px;
@icon-catalog-select-7-height: 49px;
@icon-catalog-select-7-total-width: 363px;
@icon-catalog-select-7-total-height: 320px;
@icon-catalog-select-7-image: '../img/png-sprite.png';
@icon-catalog-select-7: 0px 0px 0px 0px 176px 49px 363px 320px '../img/png-sprite.png' 'icon-catalog-select-7';
@icon-contacti-address-name: 'icon-contacti-address';
@icon-contacti-address-x: 217px;
@icon-contacti-address-y: 144px;
@icon-contacti-address-offset-x: -217px;
@icon-contacti-address-offset-y: -144px;
@icon-contacti-address-width: 16px;
@icon-contacti-address-height: 17px;
@icon-contacti-address-total-width: 363px;
@icon-contacti-address-total-height: 320px;
@icon-contacti-address-image: '../img/png-sprite.png';
@icon-contacti-address: 217px 144px -217px -144px 16px 17px 363px 320px '../img/png-sprite.png' 'icon-contacti-address';
@icon-contacti-email-name: 'icon-contacti-email';
@icon-contacti-email-x: 292px;
@icon-contacti-email-y: 217px;
@icon-contacti-email-offset-x: -292px;
@icon-contacti-email-offset-y: -217px;
@icon-contacti-email-width: 14px;
@icon-contacti-email-height: 10px;
@icon-contacti-email-total-width: 363px;
@icon-contacti-email-total-height: 320px;
@icon-contacti-email-image: '../img/png-sprite.png';
@icon-contacti-email: 292px 217px -292px -217px 14px 10px 363px 320px '../img/png-sprite.png' 'icon-contacti-email';
@icon-contacti-phone-name: 'icon-contacti-phone';
@icon-contacti-phone-x: 161px;
@icon-contacti-phone-y: 174px;
@icon-contacti-phone-offset-x: -161px;
@icon-contacti-phone-offset-y: -174px;
@icon-contacti-phone-width: 11px;
@icon-contacti-phone-height: 20px;
@icon-contacti-phone-total-width: 363px;
@icon-contacti-phone-total-height: 320px;
@icon-contacti-phone-image: '../img/png-sprite.png';
@icon-contacti-phone: 161px 174px -161px -174px 11px 20px 363px 320px '../img/png-sprite.png' 'icon-contacti-phone';
@icon-doc-name: 'icon-doc';
@icon-doc-x: 326px;
@icon-doc-y: 183px;
@icon-doc-offset-x: -326px;
@icon-doc-offset-y: -183px;
@icon-doc-width: 31px;
@icon-doc-height: 43px;
@icon-doc-total-width: 363px;
@icon-doc-total-height: 320px;
@icon-doc-image: '../img/png-sprite.png';
@icon-doc: 326px 183px -326px -183px 31px 43px 363px 320px '../img/png-sprite.png' 'icon-doc';
@icon-facebook-name: 'icon-facebook';
@icon-facebook-x: 316px;
@icon-facebook-y: 52px;
@icon-facebook-offset-x: -316px;
@icon-facebook-offset-y: -52px;
@icon-facebook-width: 7px;
@icon-facebook-height: 17px;
@icon-facebook-total-width: 363px;
@icon-facebook-total-height: 320px;
@icon-facebook-image: '../img/png-sprite.png';
@icon-facebook: 316px 52px -316px -52px 7px 17px 363px 320px '../img/png-sprite.png' 'icon-facebook';
@icon-forest-name: 'icon-forest';
@icon-forest-x: 271px;
@icon-forest-y: 109px;
@icon-forest-offset-x: -271px;
@icon-forest-offset-y: -109px;
@icon-forest-width: 45px;
@icon-forest-height: 44px;
@icon-forest-total-width: 363px;
@icon-forest-total-height: 320px;
@icon-forest-image: '../img/png-sprite.png';
@icon-forest: 271px 109px -271px -109px 45px 44px 363px 320px '../img/png-sprite.png' 'icon-forest';
@icon-functions-1-name: 'icon-functions-1';
@icon-functions-1-x: 143px;
@icon-functions-1-y: 231px;
@icon-functions-1-offset-x: -143px;
@icon-functions-1-offset-y: -231px;
@icon-functions-1-width: 39px;
@icon-functions-1-height: 40px;
@icon-functions-1-total-width: 363px;
@icon-functions-1-total-height: 320px;
@icon-functions-1-image: '../img/png-sprite.png';
@icon-functions-1: 143px 231px -143px -231px 39px 40px 363px 320px '../img/png-sprite.png' 'icon-functions-1';
@icon-functions-2-name: 'icon-functions-2';
@icon-functions-2-x: 326px;
@icon-functions-2-y: 53px;
@icon-functions-2-offset-x: -326px;
@icon-functions-2-offset-y: -53px;
@icon-functions-2-width: 36px;
@icon-functions-2-height: 44px;
@icon-functions-2-total-width: 363px;
@icon-functions-2-total-height: 320px;
@icon-functions-2-image: '../img/png-sprite.png';
@icon-functions-2: 326px 53px -326px -53px 36px 44px 363px 320px '../img/png-sprite.png' 'icon-functions-2';
@icon-functions-3-name: 'icon-functions-3';
@icon-functions-3-x: 271px;
@icon-functions-3-y: 155px;
@icon-functions-3-offset-x: -271px;
@icon-functions-3-offset-y: -155px;
@icon-functions-3-width: 44px;
@icon-functions-3-height: 44px;
@icon-functions-3-total-width: 363px;
@icon-functions-3-total-height: 320px;
@icon-functions-3-image: '../img/png-sprite.png';
@icon-functions-3: 271px 155px -271px -155px 44px 44px 363px 320px '../img/png-sprite.png' 'icon-functions-3';
@icon-functions-4-name: 'icon-functions-4';
@icon-functions-4-x: 101px;
@icon-functions-4-y: 231px;
@icon-functions-4-offset-x: -101px;
@icon-functions-4-offset-y: -231px;
@icon-functions-4-width: 40px;
@icon-functions-4-height: 40px;
@icon-functions-4-total-width: 363px;
@icon-functions-4-total-height: 320px;
@icon-functions-4-image: '../img/png-sprite.png';
@icon-functions-4: 101px 231px -101px -231px 40px 40px 363px 320px '../img/png-sprite.png' 'icon-functions-4';
@icon-functions-5-name: 'icon-functions-5';
@icon-functions-5-x: 326px;
@icon-functions-5-y: 99px;
@icon-functions-5-offset-x: -326px;
@icon-functions-5-offset-y: -99px;
@icon-functions-5-width: 36px;
@icon-functions-5-height: 40px;
@icon-functions-5-total-width: 363px;
@icon-functions-5-total-height: 320px;
@icon-functions-5-image: '../img/png-sprite.png';
@icon-functions-5: 326px 99px -326px -99px 36px 40px 363px 320px '../img/png-sprite.png' 'icon-functions-5';
@icon-google-plus-name: 'icon-google-plus';
@icon-google-plus-x: 198px;
@icon-google-plus-y: 144px;
@icon-google-plus-offset-x: -198px;
@icon-google-plus-offset-y: -144px;
@icon-google-plus-width: 17px;
@icon-google-plus-height: 17px;
@icon-google-plus-total-width: 363px;
@icon-google-plus-total-height: 320px;
@icon-google-plus-image: '../img/png-sprite.png';
@icon-google-plus: 198px 144px -198px -144px 17px 17px 363px 320px '../img/png-sprite.png' 'icon-google-plus';
@icon-jpg-name: 'icon-jpg';
@icon-jpg-x: 236px;
@icon-jpg-y: 86px;
@icon-jpg-offset-x: -236px;
@icon-jpg-offset-y: -86px;
@icon-jpg-width: 31px;
@icon-jpg-height: 43px;
@icon-jpg-total-width: 363px;
@icon-jpg-total-height: 320px;
@icon-jpg-image: '../img/png-sprite.png';
@icon-jpg: 236px 86px -236px -86px 31px 43px 363px 320px '../img/png-sprite.png' 'icon-jpg';
@icon-logo-name: 'icon-logo';
@icon-logo-x: 178px;
@icon-logo-y: 44px;
@icon-logo-offset-x: -178px;
@icon-logo-offset-y: -44px;
@icon-logo-width: 85px;
@icon-logo-height: 40px;
@icon-logo-total-width: 363px;
@icon-logo-total-height: 320px;
@icon-logo-image: '../img/png-sprite.png';
@icon-logo: 178px 44px -178px -44px 85px 40px 363px 320px '../img/png-sprite.png' 'icon-logo';
@icon-pdf-name: 'icon-pdf';
@icon-pdf-x: 0px;
@icon-pdf-y: 277px;
@icon-pdf-offset-x: 0px;
@icon-pdf-offset-y: -277px;
@icon-pdf-width: 31px;
@icon-pdf-height: 43px;
@icon-pdf-total-width: 363px;
@icon-pdf-total-height: 320px;
@icon-pdf-image: '../img/png-sprite.png';
@icon-pdf: 0px 277px 0px -277px 31px 43px 363px 320px '../img/png-sprite.png' 'icon-pdf';
@icon-png-name: 'icon-png';
@icon-png-x: 326px;
@icon-png-y: 228px;
@icon-png-offset-x: -326px;
@icon-png-offset-y: -228px;
@icon-png-width: 31px;
@icon-png-height: 43px;
@icon-png-total-width: 363px;
@icon-png-total-height: 320px;
@icon-png-image: '../img/png-sprite.png';
@icon-png: 326px 228px -326px -228px 31px 43px 363px 320px '../img/png-sprite.png' 'icon-png';
@icon-point-map-name: 'icon-point-map';
@icon-point-map-x: 33px;
@icon-point-map-y: 277px;
@icon-point-map-offset-x: -33px;
@icon-point-map-offset-y: -277px;
@icon-point-map-width: 33px;
@icon-point-map-height: 40px;
@icon-point-map-total-width: 363px;
@icon-point-map-total-height: 320px;
@icon-point-map-image: '../img/png-sprite.png';
@icon-point-map: 33px 277px -33px -277px 33px 40px 363px 320px '../img/png-sprite.png' 'icon-point-map';
@icon-promo-1-name: 'icon-promo-1';
@icon-promo-1-x: 178px;
@icon-promo-1-y: 86px;
@icon-promo-1-offset-x: -178px;
@icon-promo-1-offset-y: -86px;
@icon-promo-1-width: 56px;
@icon-promo-1-height: 56px;
@icon-promo-1-total-width: 363px;
@icon-promo-1-total-height: 320px;
@icon-promo-1-image: '../img/png-sprite.png';
@icon-promo-1: 178px 86px -178px -86px 56px 56px 363px 320px '../img/png-sprite.png' 'icon-promo-1';
@icon-promo-2-name: 'icon-promo-2';
@icon-promo-2-x: 326px;
@icon-promo-2-y: 0px;
@icon-promo-2-offset-x: -326px;
@icon-promo-2-offset-y: 0px;
@icon-promo-2-width: 37px;
@icon-promo-2-height: 51px;
@icon-promo-2-total-width: 363px;
@icon-promo-2-total-height: 320px;
@icon-promo-2-image: '../img/png-sprite.png';
@icon-promo-2: 326px 0px -326px 0px 37px 51px 363px 320px '../img/png-sprite.png' 'icon-promo-2';
@icon-promo-3-name: 'icon-promo-3';
@icon-promo-3-x: 0px;
@icon-promo-3-y: 231px;
@icon-promo-3-offset-x: 0px;
@icon-promo-3-offset-y: -231px;
@icon-promo-3-width: 54px;
@icon-promo-3-height: 44px;
@icon-promo-3-total-width: 363px;
@icon-promo-3-total-height: 320px;
@icon-promo-3-image: '../img/png-sprite.png';
@icon-promo-3: 0px 231px 0px -231px 54px 44px 363px 320px '../img/png-sprite.png' 'icon-promo-3';
@icon-promo-4-name: 'icon-promo-4';
@icon-promo-4-x: 271px;
@icon-promo-4-y: 52px;
@icon-promo-4-offset-x: -271px;
@icon-promo-4-offset-y: -52px;
@icon-promo-4-width: 43px;
@icon-promo-4-height: 55px;
@icon-promo-4-total-width: 363px;
@icon-promo-4-total-height: 320px;
@icon-promo-4-image: '../img/png-sprite.png';
@icon-promo-4: 271px 52px -271px -52px 43px 55px 363px 320px '../img/png-sprite.png' 'icon-promo-4';
@icon-resize-arrows-name: 'icon-resize-arrows';
@icon-resize-arrows-x: 110px;
@icon-resize-arrows-y: 136px;
@icon-resize-arrows-offset-x: -110px;
@icon-resize-arrows-offset-y: -136px;
@icon-resize-arrows-width: 31px;
@icon-resize-arrows-height: 31px;
@icon-resize-arrows-total-width: 363px;
@icon-resize-arrows-total-height: 320px;
@icon-resize-arrows-image: '../img/png-sprite.png';
@icon-resize-arrows: 110px 136px -110px -136px 31px 31px 363px 320px '../img/png-sprite.png' 'icon-resize-arrows';
@icon-slider-arrow-l-name: 'icon-slider-arrow-l';
@icon-slider-arrow-l-x: 142px;
@icon-slider-arrow-l-y: 174px;
@icon-slider-arrow-l-offset-x: -142px;
@icon-slider-arrow-l-offset-y: -174px;
@icon-slider-arrow-l-width: 17px;
@icon-slider-arrow-l-height: 30px;
@icon-slider-arrow-l-total-width: 363px;
@icon-slider-arrow-l-total-height: 320px;
@icon-slider-arrow-l-image: '../img/png-sprite.png';
@icon-slider-arrow-l: 142px 174px -142px -174px 17px 30px 363px 320px '../img/png-sprite.png' 'icon-slider-arrow-l';
@icon-slider-arrow-r-name: 'icon-slider-arrow-r';
@icon-slider-arrow-r-x: 143px;
@icon-slider-arrow-r-y: 136px;
@icon-slider-arrow-r-offset-x: -143px;
@icon-slider-arrow-r-offset-y: -136px;
@icon-slider-arrow-r-width: 17px;
@icon-slider-arrow-r-height: 30px;
@icon-slider-arrow-r-total-width: 363px;
@icon-slider-arrow-r-total-height: 320px;
@icon-slider-arrow-r-image: '../img/png-sprite.png';
@icon-slider-arrow-r: 143px 136px -143px -136px 17px 30px 363px 320px '../img/png-sprite.png' 'icon-slider-arrow-r';
@icon-sofa-name: 'icon-sofa';
@icon-sofa-x: 271px;
@icon-sofa-y: 0px;
@icon-sofa-offset-x: -271px;
@icon-sofa-offset-y: 0px;
@icon-sofa-width: 53px;
@icon-sofa-height: 50px;
@icon-sofa-total-width: 363px;
@icon-sofa-total-height: 320px;
@icon-sofa-image: '../img/png-sprite.png';
@icon-sofa: 271px 0px -271px 0px 53px 50px 363px 320px '../img/png-sprite.png' 'icon-sofa';
@icon-speed-name: 'icon-speed';
@icon-speed-x: 0px;
@icon-speed-y: 174px;
@icon-speed-offset-x: 0px;
@icon-speed-offset-y: -174px;
@icon-speed-width: 55px;
@icon-speed-height: 55px;
@icon-speed-total-width: 363px;
@icon-speed-total-height: 320px;
@icon-speed-image: '../img/png-sprite.png';
@icon-speed: 0px 174px 0px -174px 55px 55px 363px 320px '../img/png-sprite.png' 'icon-speed';
@icon-stars-name: 'icon-stars';
@icon-stars-x: 107px;
@icon-stars-y: 94px;
@icon-stars-offset-x: -107px;
@icon-stars-offset-y: -94px;
@icon-stars-width: 55px;
@icon-stars-height: 34px;
@icon-stars-total-width: 363px;
@icon-stars-total-height: 320px;
@icon-stars-image: '../img/png-sprite.png';
@icon-stars: 107px 94px -107px -94px 55px 34px 363px 320px '../img/png-sprite.png' 'icon-stars';
@icon-strelka-name: 'icon-strelka';
@icon-strelka-x: 308px;
@icon-strelka-y: 217px;
@icon-strelka-offset-x: -308px;
@icon-strelka-offset-y: -217px;
@icon-strelka-width: 16px;
@icon-strelka-height: 7px;
@icon-strelka-total-width: 363px;
@icon-strelka-total-height: 320px;
@icon-strelka-image: '../img/png-sprite.png';
@icon-strelka: 308px 217px -308px -217px 16px 7px 363px 320px '../img/png-sprite.png' 'icon-strelka';
@icon-vk-name: 'icon-vk';
@icon-vk-x: 271px;
@icon-vk-y: 217px;
@icon-vk-offset-x: -271px;
@icon-vk-offset-y: -217px;
@icon-vk-width: 19px;
@icon-vk-height: 11px;
@icon-vk-total-width: 363px;
@icon-vk-total-height: 320px;
@icon-vk-image: '../img/png-sprite.png';
@icon-vk: 271px 217px -271px -217px 19px 11px 363px 320px '../img/png-sprite.png' 'icon-vk';
@icon-youtube-name: 'icon-youtube';
@icon-youtube-x: 174px;
@icon-youtube-y: 174px;
@icon-youtube-offset-x: -174px;
@icon-youtube-offset-y: -174px;
@icon-youtube-width: 17px;
@icon-youtube-height: 12px;
@icon-youtube-total-width: 363px;
@icon-youtube-total-height: 320px;
@icon-youtube-image: '../img/png-sprite.png';
@icon-youtube: 174px 174px -174px -174px 17px 12px 363px 320px '../img/png-sprite.png' 'icon-youtube';
@spritesheet-width: 363px;
@spritesheet-height: 320px;
@spritesheet-image: '../img/png-sprite.png';
@spritesheet-sprites: @icon-arenda-label @icon-arenda-point @icon-arenda-time @icon-arrow-l-nav @icon-arrow-r-nav @icon-boatcard-lenght @icon-boatcard-people @icon-boatcard-width @icon-calendar @icon-catalog-select-1 @icon-catalog-select-2 @icon-catalog-select-3 @icon-catalog-select-4 @icon-catalog-select-5 @icon-catalog-select-6 @icon-catalog-select-7 @icon-contacti-address @icon-contacti-email @icon-contacti-phone @icon-doc @icon-facebook @icon-forest @icon-functions-1 @icon-functions-2 @icon-functions-3 @icon-functions-4 @icon-functions-5 @icon-google-plus @icon-jpg @icon-logo @icon-pdf @icon-png @icon-point-map @icon-promo-1 @icon-promo-2 @icon-promo-3 @icon-promo-4 @icon-resize-arrows @icon-slider-arrow-l @icon-slider-arrow-r @icon-sofa @icon-speed @icon-stars @icon-strelka @icon-vk @icon-youtube;
@spritesheet: 363px 320px '../img/png-sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
