.aerobots{
  display: block;
  background-color: @grey-light;
  padding-top: 30px;

  .boat-item {
    margin-bottom: 10px;
  }

  .aria-label {
    text-align: center;
    background-color: transparent;
    border: none;
  }

  .pagination > li > a {
    padding: 6px 20px;
    background-color: transparent;
    border-radius: 0;
    border: none;
    text-decoration: underline;
    color: @blue;
  }

  // .pagination > li > a > span {
  //   text-decoration: none;
  // }

  .pagination>li>a:focus,
  .pagination>li>a:hover,
  .pagination>li>span:focus,
  .pagination>li>span:hover {
    // color: @blue;
  }

  .pagination>li>a:visited,
  .pagination>li>span:visited {
    color: #334d7d;
  }
  
  .icon-arrow-l-nav,
  .icon-arrow-r-nav {
    top: 3px;
  }
}