mixin location()
  section.location&attributes(attributes)
    div.container
      div.row
        div.col-md-4
          div.contact-item
            span.sprite-icon.icon-contacti-address
            span.address ул. Цветочная д.19, оф. 4
          div.contact-item
            span.sprite-icon.icon-contacti-phone
            span.phone +7 812
              span 927 36 66
          div.contact-item
            span.sprite-icon.icon-contacti-email
            a(href='#').email info@snvp.su
        div.col-md-8
          div(id='contact-map')
  section.requisites
    div.container
      h3 Реквизиты компании
      div.row
        div.col-md-6
          table
            tr
              td.name Организация: 
              td.value ООО «СНВП»
            tr
              td.name Адрес: 
              td.value 127411, г. Москва, Дмитровское ш.,д. 157, стр. 9, каб. 93-142
            tr
              td.name ОГРН: 
              td.value 1167746880322
            tr
              td.name ИНН:
              td.value 7713421082
            tr
              td.name ОКПО: 
              td.value 04636746
        div.col-md-6
          table
            tr
              td.name ОКТМО: 
              td.value 45339000000
            tr
              td.name К/с: 
              td.value 30101810300000000811
            tr
              td.name БИК: 
              td.value 044030811
            tr
              td.name КПП: 
              td.value 771301001