// @media (min-width: 768px) {
  .community{
    display: block;
    border-bottom: 1px solid #f2f2f2;

    &__title {
      text-align: center;
      text-transform: uppercase;
      font-size: 30px;
      line-height: 55px;
      font-weight: 800;
      margin-top: 65px;
      margin-bottom: 30px;
    }
  }

  .community-item {
    position: relative;
    margin-bottom: 80px;

    &__all {
      position: absolute;
      display: inline-block;
      content: '';

      left: 15px;
      bottom: 0;
      
      &:hover, &:visited {
        color: @white;
      }
    }

    &__new-post, &__new-on-forum {
      color: @grey;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
      border: 1px solid #b5b5b5;
      text-align: center;
      white-space: nowrap;
      max-width: 200px; //подумать как по-другому
      margin-bottom: 25px;


    }
  }


// }