@media (min-width: 768px) {
  .community{
    display: block;

    &__title {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 30px;
      line-height: 55px;
      margin-bottom: 60px;
    }
  }


}