//- include ../../assets/bemtopug/bemto
include ../connect/_blocks.pug

doctype
html(lang='ru')

  include ../template/_head.pug

  body

    //- +header()
    //- include  ../../blocks/header/header.pug

    main

      block content

    //- +footer()

    //- include  ../../blocks/footer/footer.pug
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    //- JQuery UI
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    //- Bootstrap CDN
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    //- <!-- Latest compiled and minified JavaScript -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/js/bootstrap-select.min.js")

    //- <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/js/i18n/defaults-*.min.js")

    script(src='js/script.min.js')
