mixin news-close(href, title, description, date)
  article.news-close&attributes(attributes)
    a.news-close__inner(href= href)
      h3.news-close__title= title
      p.news-close__description= description
      p.news-close__date= date