// @media (min-width: 768px) {
  .news-close {
    margin-bottom: 40px;
    
    @media (max-width: 576px) {
      margin-bottom: 80px;
    }

    & a {
      color: @black;
      &:hover, &:active, &:focus, &:visited {
        text-decoration: none;
      }
    }

    &__title {
      font-size: 20px;
      line-height: 30px;
      font-weight: 800;
    }

    &__description {
      font-size: 16px;
      line-height: 26px;
    }

    &__date {
      display: inline-block;
      padding-left: 10px;
      color: @grey;
    }

    .icon-calendar {
      top: 3px;
    }
  }


// }