// @media (min-width: 768px) {
  .news-close {
    margin-bottom: 50px;
    
    @media (max-width: 576px) {
      margin-bottom: 75px;
    }

    & a {
      color: @black;
      &:hover, &:active, &:focus, &:visited {
        text-decoration: none;
      }
    }

    &__title {
      font-size: 20px;
      line-height: 30px;
      font-weight: bold;
    }

    &__description {
      font-size: 16px;
      line-height: 26px;
    }

    &__date {
      position: relative;
      color: @grey;
      padding-left: 30px;
    }
  }


// }