mixin news-close(href, title, description, date)
  article.news-close&attributes(attributes)
    div.news-close__inner
      h3.news-close__title
        a(href= href)= title
      p.news-close__description= description
      span.sprite-icon.icon-calendar
      p.news-close__date= date