.clients{
  padding-top: 80px;
  padding-bottom: 40px;

  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: @black;
  }

  .item {
    text-align: center;
    vertical-align: bottom;
    margin-bottom: 40px;
  }

  .item > p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 26px;
  }

  .img-box {
    height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      vertical-align: middle;
    }
  }
}