mixin clients()
  section.clients&attributes(attributes)
    div.container
      h2 Нам доверяют
      div.item.col-md-2
        div.img-box
          img(src="/img/index/logo-mchs.jpg", alt="MCHS")
        p МЧС России
      div.item.col-md-2
        div.img-box
          img(src="/img/index/rosgeo-logo.jpg", alt="")
        p Росгеология
      div.item.col-md-2
        div.img-box
          img(src="/img/index/rzd-logo.jpg", alt="")
        p РЖД
      div.item.col-md-2
        div.img-box
          img(src="/img/index/rosinziniring-logo.jpg", alt="")
        p Росинжиниринг
      div.item.col-md-2
        div.img-box
          img(src="/img/index/samara-logo.jpg", alt="")
        p Самарский речной порт
      div.item.col-md-2
        div.img-box
          img(src="/img/index/logo-mchs.jpg", alt="")
        p МЧС Сахалина
      block
