// @media (min-width: 768px) {

  .functions {
    display: block;
    background-color: @blue-dark;
    color:@white;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;

    &__title {
      font-size: 30px;
      line-height: 55px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 40px;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 26px;
      color: #b0b5c5;
      margin-bottom: 60px;
      @media (max-width: 576px) {
        text-align: left;
      }
    }

    &__function-box {
      display: flex;
      justify-content: space-between;
      @media (max-width: 576px) {
        flex-direction: column;
      }
    }

    &__function-item {
      display: inline-block;
      box-sizing: border-box;
      padding-left: 10px;
      padding-right: 10px;
    }

    &__function-item-txt {
      font-size: 16px;
      line-height: 26px;
      font-weight: bold;
    }
  }


// }