mixin functions()
  +b.SECTION.functions&attributes(attributes)
    +e.container
      +e.H2.title Универсальные транспортные средства
      +e.P Суда на воздушной подушке представляют собой высококачественные аппараты, которые могут исполнять самые разнообразные функции. Их можно использовать как транспортные средства для: 
      +e.DIV.function-box
        +e.DIV.function-item
          +e.DIV.img-box
            +e.IMG.img
          +e.P Транспортировка грузов
        +e.DIV.function-item
          +e.DIV.img-box
            +e.IMG.img
          +e.P Перевозка пассажиров
        +e.DIV.function-item
          +e.DIV.img-box
            +e.IMG.img
          +e.P Активный отдых
        +e.DIV.function-item
          +e.DIV.img-box
            +e.IMG.img
          +e.P Спасательные операции
        +e.DIV.function-item
          +e.DIV.img-box
            +e.IMG.img
          +e.P Исследовательская и научная деятельность
      block
