mixin functions()
  section.functions&attributes(attributes)
    div.container
      h2.functions__title Универсальные транспортные средства
      p Суда на воздушной подушке представляют собой высококачественные аппараты, которые могут исполнять самые разнообразные функции. Их можно использовать как транспортные средства для: 
      div.functions__function-box
        div.functions__function-item
          div.functions__img-box
            img.functions__img
          p Транспортировка грузов
        div.functions__function-item
          div.functions__img-box
            img.functions__img
          p Перевозка пассажиров
        div.functions__function-item
          div.functions__img-box
            img.functions__img
          p Активный отдых
        div.functions__function-item
          div.functions__img-box
            img.functions__img
          p Спасательные операции
        div.functions__function-item
          div.functions__img-box
            img.functions__img
          p Исследовательская и научная деятельность
      block
