mixin functions()
  section.functions&attributes(attributes)
    div.container
      h2.functions__title Универсальные транспортные средства
      div.row
        div.col-md-6.col-md-offset-3
          p.functions__subtitle Суда на воздушной подушке представляют собой высококачественные аппараты, которые могут исполнять самые разнообразные функции. Их можно использовать как транспортные средства для: 
      ul.functions__function-box
        li.functions__function-item
          div.functions__img-box
            img.functions__img
          p.functions__function-item-txt Транспортировка грузов
        li.functions__function-item
          div.functions__img-box
            img.functions__img
          p.functions__function-item-txt Перевозка пассажиров
        li.functions__function-item
          div.functions__img-box
            img.functions__img
          p.functions__function-item-txt Активный отдых
        li.functions__function-item
          div.functions__img-box
            img.functions__img
          p.functions__function-item-txt Спасательные операции
        li.functions__function-item
          div.functions__img-box
            img.functions__img
          p.functions__function-item-txt Исследовательская и научная деятельность
      block
